{% if space.ideas != empty %}

  {% for idea in space.ideas %}
    <!-- ENTRY -->
    <div class="entry">
      <h1 class="show">{{ idea.title }}</h1>
      <div class="slide">
        <div class="content">
        {{ idea.content | markdown }}
        </div>
        <a href="{{idea.permalink}}" title="permalink for {{%idea.title%}}" class="btn">go to page for this {{theme.idea_context}}</a>
        {% if idea.user.uuid == current_user.uuid %}
        <a href="{{idea.permalink}}/edit" title="link to edit {{idea.title}}" class="edit btn">edit {{theme.idea_context}}</a>
        {% endif %}
      </div>

    {% if idea.interested_users != empty %}
    <div class="interest">
      <h3>people interested in this {{theme.idea_context}}:</h3>
      <ul class="interested-people">
      {% for user in idea.interested_users %}
        <li><a href="{{ user.profile_url }}" title="{{ user.nickname }}'s {{ user.provider }} profile"><img src="{{ user.image_url }}" alt="{{ user.nickname }}" width="40" height="40" class="avatar" /></a></li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div class="meta">
      <a href="{{idea.user.profile_url}}" title="link to {{idea.user.nickname}} on {{idea.user.provider}}"><img src="{{idea.user.image_url}}" alt="avatar for {{user.nickname}}" width="25" height="25" class="avatar" /></a>
      <span class="author">by <a href="{{idea.user.profile_url}}" title="link to {{idea.user.nickname}} on {{idea.user.provider}}">{{ idea.user.nickname }}</a> {{ idea.created_at | human_time_distance }} ago</span>
      <div class="actions">
        <ul>
          {% if idea.liked? %}
          <li class="first"><span class="action-like on">{{theme.like_context}} <strong>({{ idea.likes }})</strong></span></li>
          {% else %}
          <li class="first"><div class="action-like" the_link="{{idea.like_link}}"> {{theme.like_context}} <strong class="likecount">({{idea.likes}})</strong></div></li>
          {% endif %}
          <li class="last"><a href="{{ idea.permalink }}#comments" title="link to comments for {{idea.title}}" class="action-discuss">{{theme.comments_context}} <strong>({{ idea.comments_count }})</strong></a></li>
        </ul>
      </div>
    </div>
    <span class="comment-count"><a href="{{idea.like_link}}" data-method="post">{{ idea.likes }}</a><br /><span class="like-label">{{theme.likes_context}}</span></span>
    </div>

  {% endfor %}

  <div class="cs-add">
        <form action="{{space.permalink}}/ideas" method="post" enctype="multipart/form-data" role="form">
            <div class="form-group">
              <label for="idea_title">Title</label>
              <input type="text" id="idea_title" name="idea[title]" value="{{ idea.title }}" class="form-control" />
            </div>

            <div class="form-group">
              <label for="idea_content">Content</label>
              <textarea id="idea_content" name="idea[content]" class="form-control">{{ idea.content }}</textarea>
            </div>

            <!--
              Hint: you can allow participants to upload multiple images. Use a zero
              based index for referencing each image input, eg.

              idea[images_attributes][0][file]
              idea[images_attributes][1][file]
              idea[images_attributes][2][file]
            -->
            <div class="form-group">
              <label for="idea_images_attributes_0_file">Image</label>
              <input type="file" id="idea_images_attributes_0_file" name="idea[images_attributes][0][file]" class="form-control" />
            </div>

            <button type="submit" class="btn btn-lg btn-default">Create idea</button>
          </form>
      </div>

  {% else %}
  
  <div class="empty">
    <h1>No ideas added yet!!!!</h1>
    {% if current_user %}
    <p>Be the first to add an {{theme.idea_context}} by using the 'add a new {{theme.idea_context}}' button.</p>
    <a href="{{ space.permalink }}/ideas/new">Create a new idea</a>
    {% else %}
    <p>Login with Twitter or Facebook to be the first to add a new {{theme.idea_context}}.</p>
    {% endif %}
  </div>


{% endif %}