<!DOCTYPE html>
<!--
  layouts/subdomain.html.liquid

  This is your main layout file. It wraps all other templates and is where you
  should put your main HTML head and body. Other templates (for ideas or pages)
  are rendered by the `content_for_layout` tag. See http://developer.rusic.com/
  for more details.
-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Hint: use the `asset_url` to reference uploaded assets -->
    <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}">

    <title>PartyPlayer</title>

    <!--
      Hint: use the `stylesheet_url` or `stylesheet_tag` filters for referencing
      stylesheets. You can use liquid within stylesheets for referencing other
      assets (images or fonts for example).
    -->
    <link href="{{ 'ideas.css' | stylesheet_url }}" rel="stylesheet" />
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <img src="{{ space.logo_url }}">
              <h1 class="masthead-brand">Hi PartyPlayer</h1>
              <ul class="nav masthead-nav">
                <li class="active"><a href="{{ space.permalink }}">All ideas</a></li>
                <li><a href="{{ space.permalink }}/pages/about">About</a></li>
              </ul>
            </div>
          </div>

          {% if notice %}
            {{ notice }}
          {% endif %}


          <!--
            Hint: use `content_for_layout` to render the relevant content
            from the ideas or page template
          -->
          {{ content_for_layout }}

          <div class="mastfoot">
            <div class="inner">
              <small>This site is powered by <a href="http://rusic.com/">Rusic</a></small>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="cs-add">
      <form action="{{space.permalink}}/ideas" method="post" enctype="multipart/form-data" role="form">
          <div class="form-group">
            <label for="idea_title">Title</label>
            <input type="text" id="idea_title" name="idea[title]" value="{{ idea.title }}" class="form-control" />
          </div>

          <div class="form-group">
            <label for="idea_content">Content</label>
            <textarea id="idea_content" name="idea[content]" class="form-control">{{ idea.content }}</textarea>
          </div>

          <!--
            Hint: you can allow participants to upload multiple images. Use a zero
            based index for referencing each image input, eg.

            idea[images_attributes][0][file]
            idea[images_attributes][1][file]
            idea[images_attributes][2][file]
          -->
          <div class="form-group">
            <label for="idea_images_attributes_0_file">Image</label>
            <input type="file" id="idea_images_attributes_0_file" name="idea[images_attributes][0][file]" class="form-control" />
          </div>

          <button type="submit" class="btn btn-lg btn-default">Create idea</button>
        </form>
    </div>

    {% if space.ga_code != "" %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ space.ga_code }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}

    <!--
      Hint: use the `javascript_url` or `script_tag` filters for referencing
      JavaScript files. You can use liquid within js files for referencing other
      assets (images or fonts for example).
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="{{ 'scripts.js' | javascript_url }}"></script>
  </body>
</html>
